#navbar {
    height: 8vh;
    width: 100%;
    a {
        margin: 0.8rem;
    }
}

.none {
    display: none;
}
.active {
    text-decoration: underline;
    text-decoration-color: rgb(214, 219, 219);
}
