<div id="navbar">
  <div *ngIf="auth.user$ | async; then authenticated else guest">
  </div>
  <ng-template #guest>
    <span>
      <a routerLink="login"  routerLinkActive="none"><b>Login</b></a>
    </span>
  </ng-template>
  <ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">
      <a (click)="auth.signOut()">Logout
      </a>
    </div>
  </ng-template>
</div>

<router-outlet></router-outlet> 

<div id="footer" class="text-center">
  <h5>bakabaka.club</h5>
  <h5>Created using Angular, Spectre.css and Firebase</h5>
  <h5>Pownthep Laokhunthot</h5>
</div>

