<div id="navbar" class="shadow">
  <div *ngIf="auth.user$ | async; then authenticated else guest">
  </div>
  <ng-template #guest>
    <div class="links">
      <a routerLink="login"  routerLinkActive="active" class="text-dark"><h5>Login</h5></a>
    </div>
    <div class="links">
      <a routerLink="content"  routerLinkActive="active" class="text-dark"><h5>Content</h5></a>
    </div>
    <div class="links">
      <a routerLink=""  routerLinkActive="active" class="text-dark"><h5>Home</h5></a>
    </div>
  </ng-template>
  <ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">
      <a (click)="auth.signOut()">Logout
      </a>
    </div>
  </ng-template>
</div>
<router-outlet></router-outlet>

