#navbar {
    height: 8vh;
    padding-left: 20px;
}
.links {
    display: inline-block; 
    float: right;
    margin: 18px;
}

.none {
    display: none;
}
.active {
    text-decoration: underline;
}
