.wrapper {
    height: 92vh;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0;
    width: 100%;
    @media only screen and (max-width: 768px) {
        width: 100vw;
    }
}

.authen {
    display: grid;
    justify-items: center;
    align-items: center;
	height: 350px;
	width: 350px;
    padding: 20px;
    @media only screen and (max-width: 768px) {
        width: 100vw;
        padding: 0px;
        box-shadow: none;
    }
}

#user {
    height: 100px;
    width: 100px;
}