<div class="wrapper">
  <div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
  
  <!-- User NOT logged in -->
  <ng-template #guest>
    <div class="authen shadow text-center">
      <h3>Howdy, GUEST</h3>
      <img src="../assets/google-icon.svg" alt="User profile picture" class="s-circle" id="user">
      <p>Google Auth</p>
      
      <button class="btn" >
        <a (click)="auth.googleSignin()">Sign in</a>
      </button>
      <button class="btn">
        <a routerLink="/">Continue as guest</a>
      </button>
    </div>
  </ng-template>
  
  
  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user" class="authen shadow text-center">
      <h3>Howdy, {{ user.displayName }}</h3>
      <img  [src]="user.photoURL" alt="User profile picture" class="s-circle img-responsive">
      <p>Authentication successful!</p>
      <button class="btn" (click)="auth.signOut()">Logout</button>
    </div>
  </ng-template>
</div>